* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/*==================for mobile========================*/
/*==================for laptop========================*/
@media screen and (min-width: 40rem) {
  .accountpage {
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .profile {
    margin-top: 5%;
  }
  .profile .hello {
    position: relative;
    bottom: 30px;
    margin: 35px;
  }
  .profile .hello h1 {
    font-size: 24px;
    color: #07122a;
    margin-left: 20px;
  }
  .profile__icon {
    position: relative;
    bottom: 20px;
    display: block;
    text-align: center;
  }
  .profile__icon .icon__img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid #07122a;
    border-radius: 50%;
    background-color: #ffffff;
    overflow: hidden;
  }
  .profile__icon .icon__change {
    position: relative;
    text-align: center;
  }
  .profile__icon .icon__change .change {
    font-size: 13px;
    color: #494949;
    background-color: #ffffff8a;
    -webkit-box-shadow: 0 0 5px #ffffff8a;
            box-shadow: 0 0 5px #ffffff8a;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    opacity: 0.5;
  }
  .profile__icon .icon__change .change:hover {
    opacity: 1;
  }
  .profile__data {
    margin: 0 25%;
    display: block;
    text-align: center;
  }
  .profile__data .user {
    position: relative;
    top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 0 auto;
    gap: 35px;
    border-bottom: 1px solid #07122a;
    background-color: #ffffff44;
    -webkit-box-shadow: 0 0 5px #ffffff44;
            box-shadow: 0 0 5px #ffffff44;
    border-radius: 4px;
  }
  .profile__data .user h6 {
    padding-top: 9px;
    margin: 0;
  }
  .profile__data .user__name {
    margin: 0;
    padding-top: 2px;
    width: 165px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .profile__data .country {
    position: relative;
    top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 0 auto;
    gap: 55px;
    border-bottom: 1px solid #07122a;
    background-color: #ffffff44;
    -webkit-box-shadow: 0 0 5px #ffffff44;
            box-shadow: 0 0 5px #ffffff44;
    border-radius: 4px;
  }
  .profile__data .country h6 {
    padding-top: 9px;
    margin: 0;
  }
  .profile__data .country__name {
    margin: 0;
    padding-top: 2px;
    width: 165px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .profile__data .city {
    position: relative;
    top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 0 auto;
    gap: 25px;
    border-bottom: 1px solid #07122a;
    background-color: #ffffff44;
    -webkit-box-shadow: 0 0 5px #ffffff44;
            box-shadow: 0 0 5px #ffffff44;
    border-radius: 4px;
  }
  .profile__data .city h6 {
    padding-top: 9px;
    margin: 0;
  }
  .profile__data .city__name {
    margin: 0;
    padding-top: 2px;
    width: 165px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .profile__data .twitter {
    position: relative;
    top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 0 auto;
    gap: 10px;
    border-bottom: 1px solid #07122a;
    background-color: #ffffff44;
    -webkit-box-shadow: 0 0 5px #ffffff44;
            box-shadow: 0 0 5px #ffffff44;
    border-radius: 4px;
  }
  .profile__data .twitter h6 {
    padding-top: 9px;
    margin: 0;
  }
  .profile__data .twitter__name {
    margin: 0;
    padding-top: 2px;
    width: 165px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .profile__data .profile__edit .edit {
    position: relative;
    top: 240px;
    left: 140px;
    font-size: 13px;
    color: #07122a;
    background-color: #ffffff8a;
    -webkit-box-shadow: 0 0 5px #ffffff8a;
            box-shadow: 0 0 5px #ffffff8a;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    opacity: 0.5;
  }
  .profile__data .profile__edit .edit:hover {
    opacity: 1;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 39, 0.5);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    z-index: 99;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .modal {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: #07122a;
    color: #ffffff;
    border-radius: 15px;
    z-index: 100;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .modal .btn--close-modal {
    color: #817f7f;
    opacity: 0.5;
    position: absolute;
    top: 15px;
    left: 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
  }
  .modal .profile__modal {
    margin-top: 70px;
    display: block;
    text-align: center;
  }
  .modal .profile__modal .modal__img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid #07122a;
    border-radius: 50px;
    background-color: #ffffff;
    overflow: hidden;
  }
  .modal .profile__modal .icon__change .change--inmodal {
    position: relative;
    top: 0;
    left: 3px;
    font-size: 13px;
    color: #817f7f;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    opacity: 0.5;
  }
  .modal .profile__modal .icon__change .change--inmodal:hover {
    opacity: 1;
  }
  .modal .profile__data {
    margin: 50px;
  }
  .modal .profile__data .modal__user {
    position: relative;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 0 auto;
    gap: 35px;
    border-bottom: 1px solid #142342;
  }
  .modal .profile__data .modal__user h6 {
    padding-top: 9px;
    margin: 0;
  }
  .modal .profile__data .modal__user #modal__user {
    margin: 0;
    padding-top: 7px;
    width: 165px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #bdbdbd;
  }
  .modal .profile__data .modal__country {
    position: relative;
    top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 55px;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #142342;
  }
  .modal .profile__data .modal__country h6 {
    padding-top: 9px;
    margin: 0;
  }
  .modal .profile__data .modal__country #modal__country {
    color: #757474;
    margin: 0;
    padding-top: 6px;
    width: 165px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .modal .profile__data .modal__city {
    position: relative;
    top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #142342;
  }
  .modal .profile__data .modal__city h6 {
    padding-top: 9px;
    margin: 0;
  }
  .modal .profile__data .modal__city #modal__city {
    margin: 0;
    padding-top: 7px;
    width: 165px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #bdbdbd;
  }
  .modal .profile__data .modal__twitter {
    position: relative;
    top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #142342;
  }
  .modal .profile__data .modal__twitter h6 {
    padding-top: 9px;
    margin: 0;
  }
  .modal .profile__data .modal__twitter #modal__twitter {
    margin: 0;
    padding-top: 7px;
    width: 165px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #bdbdbd;
  }
  .modal .profile__data .profile__edit .done {
    position: relative;
    top: 200px;
    left: 230px;
    font-size: 13px;
    color: #817f7f;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    opacity: 0.5;
  }
  .modal .profile__data .profile__edit .done:hover {
    opacity: 1;
  }
  .close__concent {
    position: fixed;
    padding: 20px;
    top: 40%;
    left: 30%;
    background-color: #ffffff;
    width: 40%;
    height: 20%;
    z-index: 300;
    border-radius: 5px;
  }
  .close__concent h3 {
    -webkit-text-decoration: underline #f1ee10 5px;
            text-decoration: underline #f1ee10 5px;
    text-align: center;
    font-size: 10px;
    margin-bottom: 30px;
  }
  .close__concent p {
    margin: 10px;
    font-size: 8px;
  }
  .close__concent .choose--btn {
    text-align: right;
  }
  .close__concent .choose--btn .close {
    position: relative;
    right: 390px;
    padding: 4px 5px;
    outline: none;
    border: none;
    background: #bdbdbd;
  }
  .close__concent .choose--btn .cancel {
    position: relative;
    right: 50px;
    padding: 4px 5px;
    outline: none;
    border: none;
    background: #bdbdbd;
  }
  .chooseyours {
    position: fixed;
    top: 30%;
    left: 5%;
    width: 90%;
    padding: 10px 0px;
    text-align: center;
    background-color: #ffffffe1;
    border-radius: 15px;
    z-index: 200;
  }
  .chooseyours .btn--close-choose {
    color: #817f7f;
    opacity: 0.5;
    position: absolute;
    top: 15px;
    left: 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
  }
  .chooseyours h3 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=Account.css.map */