$cBlack: #07122a;
$cWhite: #ffffff;
$cGray: #bdbdbd;

*{
  box-sizing: border-box;
  margin: 0;
}

/*==================for mobile========================*/
@media screen and (max-width: 40rem){

  .input{
      position: relative;
      top: 20px;
      width: 70%;
      margin: 0 auto;
      height: 200px;
      background-color: transparent;
      border: 2px solid $cBlack;
      outline: none;
      border-radius: 0 0 7px 7px;
    
      & .comment{
        color: $cBlack;
        outline: none;
        position: absolute;
        margin: 10px;
        top: 0;
        left: 0;
        height: 70%;
        width: 95%;
        border: transparent;
        background-color: transparent;
        font-size: 20px;
        text-align: center;
      
    }
  }
  
  .provide{
    display: block;
    text-align: right;
    position: relative;
    top: 40px;
    right: 150px;

    &__btn{
      font-size: 15px;
      background-color: $cBlack;
      color: $cWhite;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 7px;
      width: 80px;
      height: 30px;
      box-shadow: 0 0 5px $cBlack;

      &:hover{
        opacity: 0.5;
      }
    }
  }

  .tweet{
    position: relative;
    top: 60px;
    margin-left: 50px;
    display: flex;
    width: 90%;

    &:not(:last-child){
      border-bottom: 1px solid $cGray;
    }

    & .icon-container{
      margin-top: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $cBlack;

      & img{
        width: 50px;
      }
    }

    & .body-container{
      flex: 1;
      padding: 20px;
      background-color: $cWhite;

      & .status-display{
        
        & .display-name{
          font-size: 15px;
          color: $cBlack;
        }

        & .account-name{
          font-size: 5px;
          color: #979494;
          padding-left: 5px;
        }
      }

      & .content{
        font-size: 20px;
        color: $cBlack;
        font-weight: bold;
      }

      & .status-liked{
        cursor: pointer;
      }
    }
  }

  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    background-color: $cBlack;
    height: 90px;

& .ft__icon{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }

  & .icon--btn{
    color: $cGray;
    opacity: 0.5;
  }

  & .icon--active{
      color: $cWhite;
      opacity: 1;
    }
}
}
