$cBlack: #07122a;
$cWhite: #ffffff;
$cGray: #bdbdbd;

*{
  box-sizing: border-box;
  margin: 0;
}

/*==================for mobile========================*/
@media screen and (max-width: 40rem){
  .wantToKnow{
    position: relative;
    top: 50px;
    margin-left: 20px;
    & h1{
      font-size: 18px;
    }
  }

  .wrap{
    position: relative;
    top: 30px;
    margin: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    & .item1{
        background-color: $cBlack;
        height: 150px;
        border-radius: 15px;
        box-shadow: 0 0 10px $cBlack;
        display: inline-block;

      &__1{
        &:hover{
          opacity: 0.5;
          display: block;
        }
      }

      &:hover{
        &::after{
          content:'Spot';
          position: absolute;
          color: $cWhite;
          font-size: 25px;
          top: 55px;
          left: 70px;
        }
      }
    }

    & .item2{
      background-color: $cBlack;
      height: 150px;
      border-radius: 15px;
      box-shadow: 0 0 10px $cBlack;
      display: inline-block;

    &__2{
      &:hover{
        opacity: 0.5;
        display: block;
      }
    }

    &:hover{
      &::after{
        content:'Education';
        position: absolute;
        color: $cWhite;
        font-size: 25px;
        top: 55px;
        left: 216px;
      }
    }
  }

  & .item3{
    background-color: $cBlack;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 0 10px $cBlack;
    display: inline-block;

  &__3{
    &:hover{
      opacity: 0.5;
      display: block;
    }
  }

  &:hover{
    &::after{
      content:'Health';
      position: absolute;
      color: $cWhite;
      font-size: 25px;
      top: 240px;
      left: 60px;
    }
  }
}

  & .item4{
    background-color: $cBlack;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 0 10px $cBlack;
    display: inline-block;

  &__4{
    &:hover{
    opacity: 0.5;
    display: block;
    }
  }

  &:hover{
    &::after{
      content:'House';
      position: absolute;
      color: $cWhite;
      font-size: 25px;
      top: 240px;
      left: 240px;
    }
  }
}

    & .item5{
        background-color: $cBlack;
        height: 150px;
        border-radius: 15px;
        box-shadow: 0 0 10px $cBlack;
        display: inline-block;

      &__5{
        &:hover{
          opacity: 0.5;
          display: block;
        }
      }

      &:hover{
        &::after{
          content:'Living';
          position: absolute;
          color: $cWhite;
          font-size: 25px;
          top: 420px;
          left: 60px;
        }
      }
    }

    & .item6{
      background-color: $cBlack;
      height: 150px;
      border-radius: 15px;
      box-shadow: 0 0 10px $cBlack;
      display: inline-block;

    &__6{
      &:hover{
        opacity: 0.5;
        display: block;
      }
    }

    &:hover{
      &::after{
        content:'Trip';
        position: absolute;
        color: $cWhite;
        font-size: 25px;
        top: 420px;
        left: 250px;
      }
    }
  }

  & .item7{
    background-color: $cBlack;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 0 10px $cBlack;
    display: inline-block;

  &__7{
    &:hover{
      opacity: 0.5;
      display: block;
    }
  }

  &:hover{
    &::after{
      content:'Others';
      position: absolute;
      color: $cWhite;
      font-size: 25px;
      top: 600px;
      left: 55px;
    }
  }
}

  & .item8{
    background-color: $cBlack;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 0 10px $cBlack;
    display: inline-block;

  &__8{
    &:hover{
    opacity: 0.5;
    display: block;
    }
  }

  &:hover{
    &::after{
      content:'Global';
      position: absolute;
      color: $cWhite;
      font-size: 25px;
      top: 600px;
      left: 240px;
    }
  }
}




  }


  .footer{
    margin-top: 50px;
    background-color: $cBlack;
    height: 90px;
    bottom: 0;
    position: sticky;

    & .ft__icon{
      display: flex;
      justify-content: space-around;
      padding-top: 20px;

      & .icon--home{
        opacity: 0.5;

        &:hover{
          opacity: 1;
        }
      }

      & .icon--post{
        opacity: 0.5;

        &:hover{
          opacity: 1;
        }
      }

      & .icon--search{
        opacity: 0.5;

        &:hover{
          opacity: 1;
        }
      }

      & .icon--user{
        opacity: 0.5;

        &:hover{
          opacity: 1;
        }
      }
    }
  }
}