$cBlack: #07122a;
$cWhite: #ffffff;
$cGray: #bdbdbd;

*{
  box-sizing: border-box;
  margin: 0;
}

/*==================for mobile========================*/
@media screen and (max-width: 40rem){

  #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 39, 0.5);
    backdrop-filter: blur(4px);
    z-index: 99;
    transition: all 0.5s ease-in-out;
}

  .join-modal{
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    height: 70%;
    width: 300px;
    padding: 30px 25px;
    background-color: $cWhite;
    border-radius: 30px;
    z-index: 100;
    transition: all 0.5s;
    box-shadow: 0 0 10px #07122a7e;

    & .btn-close-joinmodal{
      position: absolute;
      right: 25px;
      background: transparent;
      border: none;
      color: $cGray;
      font-size: 30px;
    }
    
    & h3{
      font-size: 25px;
      margin-bottom: 0;
    }

    & .joinus{
      font-size: 13px;
    }

    & .form-section{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    & .name--input{
      margin-top: 20px;

      & label{
        padding: 8px;
        font-size: 12px;
        border: 1px solid $cBlack;
        border-radius: 50px;

        & .name{
          background: transparent;
          border: none;
          margin-left: 10px;
          outline: none;
          width: 75%;
        }
      }
    }

    & .email--input{

      & label{
        padding: 8px;
        font-size: 12px;
        border: 1px solid $cBlack;
        border-radius: 50px;

        & .email{
          background: transparent;
          border: none;
          margin-left: 10px;
          outline: none;
          width: 76%;
        }
      }

      & .exist{
        font-size: 10px;
        color: red;
      }
    }

    & .password--input{
      position: relative;

      & label{
        padding: 8px;
        font-size: 12px;
        border: 1px solid $cBlack;
        border-radius: 50px;

        & .password{
          background: transparent;
          border: none;
          outline: none;
          margin-left: 10px;
          width: 65%;

          &__lock{
            position: absolute;
            top: 5px;
            right: 10px;
            background: transparent;
            border: none;
          }
        }

      }
      & .password__stricts{
          margin-top: 10px;
          font-size: 10px;
        }
    }

    & .confirm--input{

      & label{
        padding: 8px;
        font-size: 12px;
        border: 1px solid $cBlack;
        border-radius: 50px;
        
        & .confirm{
          background: transparent;
          border: none;
          padding: 10px;
          outline: none;
          width: 92%;
        }
      }
      
      & .notmatch{
        position: absolute;
        font-size: 10px;
        color: red;
      }
    }



    & .signup{
      text-align: center;
      position: relative;
      top: 30px;

      &--btn{
        background-color: $cBlack;
        border: none;
        color: $cWhite;
        padding: 10px;
        width: 200px;
        border-radius: 50px;
        

        &:hover{
          opacity: 0.5;
        }
      }
    }
    
    

    & .border--join{
      position: relative;
      top: 70px;
      border: transparent;
      height: 2px;
      background-color: $cBlack;
    }

    & .modal-login{
      position: relative;
      top: 85px;
      font-size: 10px;
      text-align: center;

      & .jump--login{
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 20px;
        background-color: transparent;
        border: none;
        color: #57a0e4;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}


/*======================================for laptop======================================*/
@media screen and (min-width: 40rem){

  #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 39, 0.5);
    backdrop-filter: blur(4px);
    z-index: 99;
    transition: all 0.5s ease-in-out;
}

.join-modal{
  display: block;
  position: fixed;
  height: 70%;
  margin: 120px 450px;
  padding: 30px 25px;
  background-color: $cWhite;
  border-radius: 30px;
  z-index: 100;
  transition: all 3.0s ease-in-out;
  box-shadow: 0 0 10px #07122a7e;

  & .btn-close-joinmodal{
    position: absolute;
    right: 25px;
    background: transparent;
    border: none;
    color: $cGray;
    font-size: 30px;
  }
  
  & h3{
    font-size: 25px;
    margin-bottom: 0;
  }

  & .joinus{
    font-size: 13px;
  }

  & .name--input{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;

    & label{
      padding: 10px;
      font-size: 15px;
      border: 1px solid $cBlack;
      border-radius: 50px;

      & .name{
        background: transparent;
        border: none;
        margin-left: 11%;
        outline: none;
        width: 65%;
      }
    }
  }

  & .email--input{
    text-align: center;
    margin-bottom: 35px;

    & label{
      padding: 10px;
      font-size: 15px;
      border: 1px solid $cBlack;
      border-radius: 50px;

      & .email{
        background: transparent ;
        border: none;
        margin-left: 12%;
        outline: none;
        width: 65%;
      }
    }

    & .exist{
      font-size: 10px;
      color: red;
    }
  }

  & .password--input{
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    & label{
      padding: 10px;
      font-size: 15px;
      border: 1px solid $cBlack;
      border-radius: 50px;

      & .password{
        background: transparent;
        border: none;
        outline: none;
        margin-left: 5%;
        width: 65%;

        &__lock{
          position: absolute;
          top: 5px;
          right: 30px;
          background: transparent;
          border: none;
        }
      }

    }
    & .password__stricts{
        text-align: left;
        margin: 8px 20px;
        font-size: 10px;
      }
  }

  & .confirm--input{
    text-align: center;
    margin-bottom: 15px;

    & label{
      padding: 10px;
      font-size: 15px;
      border: 1px solid $cBlack;
      border-radius: 50px;
      
      & .confirm{
        background: transparent;
        border: none;
        padding: 10px;
        outline: none;
        width: 85%;
      }
    }
    
    & .notmatch{
      position: absolute;
    margin-left: 20px;
    text-align: left;
    font-size: 10px;
    color: red;
    }
  }



  .signup{
    text-align: center;
    position: relative;
    top: 40px;

    &--btn{
      background-color: $cBlack;
      border: none;
      color: $cWhite;
      padding: 10px;
      width: 200px;
      border-radius: 50px;

      &:hover{
        opacity: 0.5;
      }

      &--failed{
        background-color: $cBlack;
        border: none;
        color: $cWhite;
        padding: 10px;
        width: 200px;
        border-radius: 50px;
        opacity: 0.5;
      }
    }
  }
  
  

  & .border--join{
    position: relative;
    top: 90px;
    border: transparent;
    height: 2px;
    background-color: $cBlack;
  }

  & .modal-login{
    position: relative;
    top: 90px;
    font-size: 10px;
    text-align: center;

    & .jump--login{
      position: absolute;
      top: 0;
      left: 65%;
      font-size: 10px;
      background-color: transparent;
      border: none;
      color: #57a0e4;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}
  
}
