$cBlack: #07122a;
$cWhite: #ffffff;
$cGray: #bdbdbd;

*{
  box-sizing: border-box;
  margin: 0;
}

.homePage,
.search,
.post,
.account {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.search {
  background-color: yellow;
  color: #fff;
  font-size: 100px;
}

.Post {
  background-color: red;
  color: #fff;
  font-size: 100px;
}

.Account {
  background-color: yellowgreen;
  color: #fff;
  font-size: 100px;
}
